@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --ragin-beige: #fff5d7;
    --coral-pink: #ff5e6c;
    --sleuthe-yellow: #feb300;
    --pink-leaf: #ffaaab;
    --text-color: #333;
    --menu-color: #ffffff;
}

body {
    background: var(--pink-leaf);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    margin: 20px auto;
    max-width: 100%;
    padding: 0 20px;
}

header {
    background: linear-gradient(to right, var(--ragin-beige), var(--coral-pink));
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, var(--ragin-beige), var(--coral-pink));
    opacity: 0.8;
    z-index: -1;
}

footer {
    background: var(--ragin-beige);
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, var(--coral-pink), var(--ragin-beige));
    z-index: -1;
}
a {
    color: var(--coral-pink);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--sleuthe-yellow);
    text-decoration: underline;
}

a:active {
    color: var(--text-color);
    opacity: 0.7;
}

div.menu {
    border: 2px solid var(--sleuthe-yellow);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: var(--menu-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

div.menu:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border-color: var(--coral-pink); 
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
}